<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Pokemon Info</title>
   </head>

   <body>
      <h1><%- header %></h1>
      Name: <strong> <%- name %></strong>
      <br />
      ID: <%- id %>
      <br />
      Type(s): <%- types %>
      <br />
      <br />
      <br />
      See URL for more info -> <%- url %>
      <hr />
      <a href="/">HOME</a>
   </body>
</html>
